<igx-navbar class="main-nav-bar">
  <igx-navbar-title class="navbar-content">
    <div [routerLink]="['/register-page']" class="row-layout nav-logo">
      <igx-icon class="site-icon-nav">
        code
      </igx-icon>
      <h6 class="site-name-nav">
        We DEVliver
      </h6>
    </div>
    <button igxButton="flat" type="button" class="how-it-works-button">
      How it Works
    </button>
    <button igxButton="flat" type="button" class="how-it-works-button">
      Features
    </button>
    <button igxButton="flat" type="button" class="how-it-works-button">
      Pricing
    </button>
    <button igxButton="flat" type="button" class="how-it-works-button">
      FAQ
    </button>
  </igx-navbar-title>
  <button igxIconButton="flat">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="contained" type="button" [routerLink]="['/register-page']" class="sign-up-button">
    Sign Up
  </button>
  <button igxButton="flat" type="button" [routerLink]="['/login-page']" class="login-button-nav">
    Login
  </button>
</igx-navbar>
<div class="main-page-container">
  <router-outlet></router-outlet>
</div>
